<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gongshidai.mistGSD"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <!--以下是极光推送需要的权限 -->
    <!-- Required -->
    <permission
        android:name="com.gongshidai.mistGSD.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <!-- Required -->
    <uses-permission android:name="com.gongshidai.mistGSD.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!--结束-->

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <!-- 聊天界面拍照发送图片*************************************app kefu ********************************************************* -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 后台收到消息的时候，休眠状态唤醒CPU，将消息显示在通知栏 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 可选：监听手机重启自动重连服务器 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 可选：webview上传文件 -->
    <!-- ************************************************************app kefu*************************************************************** -->
    <application
        android:name="com.laxiong.Application.YiTouApplication"
        android:allowBackup="true"
        android:icon="@drawable/gongshi_licon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.laxiong.Activity.PatternViewActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name="com.laxiong.Activity.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- =============================LLYT SDK START=================================== -->
        <activity
            android:name="com.yintong.secure.activity.BaseActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="adjustResize"></activity>

        <service android:name="com.yintong.secure.service.PayService"></service>
        <!-- =================================LLYT SDK END ====================================== -->


        <activity android:name="com.laxiong.Activity.BaseActivity"
            android:launchMode="singleTask"/>

        <!-- 日历账单 -->
        <activity android:name="com.laxiong.Activity.CalanderCountActivity"
            android:launchMode="singleTask"/>
        <activity android:name="com.laxiong.Activity.CalanderHorizontalActivity"
            android:launchMode="singleTask"/>
        <activity android:name="com.laxiong.Activity.BillCalendarActivity"/>
        <activity android:name="com.laxiong.Activity.DarkThemeActivity"
            ></activity>

        <!-- VIP -->
        <activity android:name="com.laxiong.Activity.ShowVIPActivity"
            android:launchMode="singleTask"/>

        <!-- 账户设置 -->
        <activity android:name="com.laxiong.Activity.CountSettingActivity"
            android:launchMode="singleTask"/>

        <!-- 个人设置 -->
        <activity
            android:name="com.laxiong.Activity.PersonalSettingActivity"
            android:launchMode="singleTask" />

        <!-- 密码管理 -->
        <activity android:name="com.laxiong.Activity.PswdConturalActivity"
            android:launchMode="singleTask"/>
        <activity android:name="com.laxiong.Activity.NameSettingActivity"
            android:launchMode="singleTask"/>
        <activity android:name="com.laxiong.Activity.AddressSettingActivity"
            android:launchMode="singleTask"/>

        <!-- 实名认证 -->
        <activity android:name="com.laxiong.Activity.TrueNameActivity1"
            android:launchMode="singleTask"/>
        <activity android:name="com.laxiong.Activity.TrueNameActivity2"
            android:launchMode="singleTask"/>
        <activity android:name="com.laxiong.Activity.TrueNameActivity3"
            android:launchMode="singleTask"/>

        <!-- 修改手机号 -->
        <activity android:name="com.laxiong.Activity.ChangeBindPhoneActivity1"
            android:launchMode="singleTask"/>
        <activity android:name="com.laxiong.Activity.ChangeBindPhoneActivity2"
            android:launchMode="singleTask"/>
        <activity android:name="com.laxiong.Activity.ChangeLoginPswdActivity"
            android:launchMode="singleTask"/>

        <!--我的银行卡-->
        <activity android:name="com.laxiong.Activity.MyBandBankCardActivity"
            android:launchMode="singleTask"/>

        <activity android:name="com.laxiong.Activity.RecordDetailActivity"
            android:launchMode="singleTask"/>

        <!-- 转出结果 -->
        <activity android:name="com.laxiong.Activity.TransferOutResultActivity"/>

        <!-- 重置支付密码 -->
        <!-- 注册 -->
        <activity android:name="com.laxiong.Activity.RegistActivity"
            android:launchMode="singleTask"/>

        <!-- 登录 -->
        <activity android:name="com.laxiong.Activity.LoginActivity"
            android:launchMode="singleTask"/>

        <!-- 找回密码 -->
        <activity android:name="com.laxiong.Activity.FoundPswdActivity"
            android:launchMode="singleTask"/>

        <!-- 切换账号 -->
        <activity android:name="com.laxiong.Activity.ChangeCountActivity"
            android:launchMode="singleTask"/>

        <!-- 时息通 -->
        <activity android:name="com.laxiong.Activity.TimeXiTongActivity"
            android:launchMode="singleTask"/>
        <activity android:name="com.laxiong.Activity.MessageActivity"
            android:launchMode="singleTask"/>


        <!-- 固息宝 -->
        <activity android:name="com.laxiong.Activity.GuXiBaoActivity"
            android:launchMode="singleTask"/>

        <activity android:name="com.laxiong.Activity.FeedBackActivity"
            android:launchMode="singleTask"></activity>

        <!-- 资产 -->
        <activity android:name="com.laxiong.Activity.AssetActivity"
            android:launchMode="singleTask"/>

        <!-- 可用余额  累计收益 -->
        <activity android:name="com.laxiong.Activity.AvailableBalanceActivity"
            android:launchMode="singleTask"/>
        <activity android:name="com.laxiong.Activity.EarningsSayActivity"
            android:launchMode="singleTask"/>
        <activity android:name="com.laxiong.Activity.WithdrawCashDetailsActivity"
            android:launchMode="singleTask"/>

        <!-- 提现 -->
        <activity android:name="com.laxiong.Activity.WithdrawCashActivity"
            android:launchMode="singleTask"/>
        <activity android:name="com.laxiong.Activity.WithdrawCashNoticeActivity"
            android:launchMode="singleTask"/>

        <!-- 主页面 -->
        <activity android:name="com.laxiong.Activity.MainActivity"
            android:launchMode="singleTask"/>

        <!-- 修改手势 -->
        <activity android:name="com.laxiong.Activity.ModifyGestureActivity"
            android:launchMode="singleTask"/>

        <!-- 转入 -->
        <activity android:name="com.laxiong.Activity.TransferInActivity"
            android:launchMode="singleTask"/>
        <!-- 转入结果 -->
        <activity android:name="com.laxiong.Activity.TransferInResultActivity"
            android:launchMode="singleTask"/>
        <!-- 转出 -->
        <activity android:name="com.laxiong.Activity.TransferOutActivity"
            android:launchMode="singleTask"/>

        <!-- H5页面 -->
        <activity android:name="com.laxiong.Activity.WebViewActivity"
            android:launchMode="singleTask"/>
        <activity android:name="com.laxiong.Activity.BuyingActivity"
            android:launchMode="singleTask"/>
        <activity android:name="com.laxiong.Activity.BuyingResultActivity"
            android:launchMode="singleTask"/>

        <!-- 充值 -->
        <activity android:name="com.laxiong.Activity.RechargeActivity"
            android:launchMode="singleTask"/>
        <!-- 福利中心 -->
        <activity android:name="com.laxiong.Activity.WelCenterActivity"
            android:launchMode="singleTask"/>
        <!-- 红包解释 -->
        <activity android:name="com.laxiong.Activity.RpExplainActivity"
            android:launchMode="singleTask"/>
        <!-- 兑换壹币 -->
        <activity android:name="com.laxiong.Activity.ExChangeActivity"
            android:launchMode="singleTask"/>
        <!-- 我的壹币 -->
        <activity android:name="com.laxiong.Activity.MyYiBiActivity"
            android:launchMode="singleTask"/>
        <!-- 壹币商城 -->
        <activity android:name="com.laxiong.Activity.TMallActivity"
            android:launchMode="singleTask"/>

        <!--版本管理-->
        <activity
            android:name="com.laxiong.Activity.VersionManageActivity"
            android:launchMode="singleTask"
            ></activity>

        <!-- 修改支付密码
        <activity android:name="com.laxiong.Activity.ChangePayPswdActivity1" />
        <activity android:name="com.laxiong.Activity.ChangePayPswdActivity2" />
        -->

        <!-- 充值结果 -->
        <activity android:name="com.laxiong.Activity.RechargeResultActivity"
            android:launchMode="singleTask"/>

        <!-- 投资明细 -->
        <activity android:name="com.laxiong.Activity.InvestmentRecordActivity"
            android:launchMode="singleTask"/>
        <activity android:name="com.laxiong.Activity.ResetPayPwdActivity"
            android:launchMode="singleTask"/>
        <activity android:name="com.laxiong.Activity.ChangePayPwdActivity"
            android:launchMode="singleTask"/>
        <activity android:name="com.laxiong.Activity.BankListActivity"
            android:launchMode="singleTask"/>
        <activity android:name="com.laxiong.Activity.MyOrderActivity"
            android:launchMode="singleTask"/>

        <!--*****************************************************UMENG_APPKEY*******************************************************-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="55cbf02e67e58e5b890019af"/>
        <!--*****************************************************UMENG_APPKEY*******************************************************-->

        <activity android:name="com.laxiong.Activity.YibiDetailActivity"
            android:launchMode="singleTask"/>
        <activity android:name="com.laxiong.Activity.GuideActivity"
            android:launchMode="singleTask"/>


        <!--启动页面-->
        <activity android:name="com.laxiong.Activity.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!--======================================H5直接打开app的部分==========================================-->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="gongshi1"/>
            </intent-filter>

        </activity>
        <activity android:name="com.laxiong.Activity.AtHallActivity"
            android:launchMode="singleTask"/>
        <activity android:name="com.laxiong.Activity.Profit_Activity"
            android:launchMode="singleTask"/>
        <activity android:name="com.laxiong.Activity.RmDetailActivity"
            android:launchMode="singleTask"></activity>

        <!--以下是极光推送其他的配置 包括service receiver activity mata-data 等-->
        <!-- Required SDK核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>

        <!-- Required SDK核心功能-->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false"></service>

        <!-- Required SDK 核心功能-->
        <!-- option since 2.0.5 可配置PushService，DaemonService,PushReceiver,AlarmReceiver的android:process参数 将JPush相关组件设置为一个独立进程 -->
        <!-- 如：android:process=":remote" -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- Required SDK 核心功能 since 1.8.0 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </service>

        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />
                <!--Required 显示通知栏 -->
                <category android:name="${applicationId}" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能-->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />

        <!-- User defined. 用户自定义的广播接收器-->
        <receiver
            android:name="com.laxiong.Receiver.PushCustomReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!--Required 用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!--Required 用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!--Required 用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!--Required 用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" />
                <!--Optional 用户接受Rich Push Javascript 回调函数的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>

        <!-- Required . Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="08a46b6f6d6341908dbdd8d2" />
        <!-- </>值来自开发者平台取得的AppKey -->
        <receiver android:name="com.laxiong.Receiver.BroadBootReceiver">
            <intent-filter>
            <action android:name="android.intent.action.BOOT_COMPLETED"></action>
        </intent-filter>
        </receiver>

        <!--*****************************************************app kefu*******************************************************-->
        <!-- 请到 http://appkefu.com/AppKeFu/admin/ 申请appkey -->
        <meta-data
            android:name="com.appkefu.lib.appkey"
            android:value="e4e811e131cfe42b10df4ff6ad622f51" />

        <!-- 聊天窗口, 可通过修改layout文件appkefu_activity_kfvip_chat.xml自定义窗口UI -->
        <activity android:name="com.appkefu.lib.ui.activity.KFChatActivity"
            android:theme="@style/appkefu_theme_no_titlebar"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <!-- 设置页面，点击聊天窗口右上角按钮进入，可清空聊天记录 -->
        <activity android:name="com.appkefu.lib.ui.activity.KFSettingsActivity"
            android:theme="@style/appkefu_theme_no_titlebar" />
        <!-- 常见问题类别页面，点击聊天页面输入框下方扩展面板:常见问题按钮进入 -->
        <activity android:name="com.appkefu.lib.ui.activity.KFFAQActivity"
            android:theme="@style/appkefu_theme_no_titlebar"/>
        <!-- 常见问题详情页面， -->
        <activity android:name="com.appkefu.lib.ui.activity.KFFAQDetailActivity"
            android:theme="@style/appkefu_theme_no_titlebar"/>
        <!-- 满意度评价页面 -->
        <activity android:name="com.appkefu.lib.ui.activity.KFRateActivity"
            android:theme="@style/appkefu_theme_no_titlebar"/>
        <!-- 内嵌浏览器页面，打开网址 -->
        <activity android:name="com.appkefu.lib.ui.activity.KFWebBrowserActivity"
            android:theme="@style/appkefu_theme_no_titlebar"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- 此处data的android:scheme请填写您App的包名,保持android:host, 如下所示： -->
                <data android:scheme="com.appkefu.demo2" android:host="appkefu_url" />
            </intent-filter>
        </activity>

        <!-- 发送语音辅助service -->
        <service
            android:name="com.appkefu.lib.soundrecorder.KFRecorderService"/>

        <!-- im长连接 主service -->
        <service
            android:name="com.appkefu.lib.service.KFMainService">
            <intent-filter android:priority="1000">
                <!-- 可选 android:priority = "1000"这个属性设置最高优先级，1000是最高值，如果数字越小则优先级越低 -->
                <action android:name="com.appkefu.lib.action.kefu.LOGIN_WITH_OPENUDID"/>
                <action android:name="com.appkefu.lib.action.DISCONNECT" />
                <action android:name="com.appkefu.lib.action.TOGGLE" />
                <action android:name="com.appkefu.lib.action.SEND" />
                <action android:name="com.appkefu.lib.action.NETWORK_STATUS_CHANGED" />
                <action android:name="com.appkefu.lib.action.XMPP.MESSAGE_RECEIVED" />
            </intent-filter>
        </service>

        <!-- 获取OpenUDID, 用于唯一标示用户 -->
        <service android:name="com.appkefu.OpenUDID.OpenUDID_service" >
            <intent-filter>
                <action android:name="org.openudid.GETUDID" />
            </intent-filter>
        </service>

        <!-- 可选：监听网络变化 -->
        <receiver android:name="com.appkefu.lib.receivers.KFNetworkConnectivityReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <!-- 可选：监听手机重启，方便重连im服务器, 需要配合权限RECEIVE_BOOT_COMPLETED使用-->
        <receiver android:name="com.appkefu.lib.receivers.KFBootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>
        <!-- 可选：监听手机连接电源状态,如果已经连接电源自动尝试重连 -->
        <receiver android:name="com.appkefu.lib.receivers.KFPowerReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <!-- 监听客服发送过来的消息 -->
        <receiver android:name="com.appkefu.lib.receivers.KFMessageReceiver">
            <intent-filter>
                <action android:name="com.appkefu.lib.action.XMPP.MESSAGE_RECEIVED" />
            </intent-filter>
        </receiver>
        <!-- 定时检测是否需要重连im服务器,以便重连服务器 -->
        <receiver android:name="com.appkefu.lib.receivers.KFAlarmReceiver">
            <intent-filter>
                <action android:name="com.appkefu.lib.action.LOGIN_ALARM" />
            </intent-filter>
        </receiver>
        <!--*****************************************************app kefu*******************************************************-->
        <service android:name="com.laxiong.service.DownService">
        <intent-filter>
            <action android:name="com.download.action"></action>
        </intent-filter>
        </service>

    </application>

</manifest>
